* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    color: #333;
    padding: 1rem;
    /* rem 相对root根元素（html）的font size来计算，是一个相对单位 */
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    /* 每个item之间会自动有1rem的间距 */
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}